.features {
  padding: 60px 20px;
  background-color: #010101; /* Фон страницы */
}

.featuresTitle {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
}

.featureGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Две карточки в ряд */
  grid-gap: 30px;
  max-width: 1000px; /* Максимальная ширина сетки */
  margin: 0 auto;
}

.featureCard {
  background-color: #131313;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.featureCard:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}

.featureImageWrapper {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.featureImage {
  max-width: 100px; /* Размер изображения */
  height: auto;
  border-radius: 10px;
}

.featureTitle {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}

.featureDescription {
  color: #fff;
  font-size: 16px;
  margin-bottom: 70px;
  font-weight: 300;
}

.featureButton {
  background-color: #fff;
  color: #1e1e1e;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  align-self: flex-start;
  position: absolute;
  bottom: 30px;
  left: 30px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.featureButton:hover {
  background-color: #5162ff;
  color: #fff;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .featureGrid {
    grid-template-columns: 1fr; /* Одноколоночная сетка для мобильных */
  }
}
