.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  position: relative;
}

.heroTitle {
  color: #5162ff;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 40px;
}

.heroContent {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-bottom: 20px;
}

.heroIcon {
  width: 30px;
  height: 30px;
}

.heroBackground {
  width: 937px;
  height: 530px;
  background-color: #fff;
  border-radius: 30px;
}

.heroImage {
  position: absolute;
  top: 50%;
  right: 52px;
  transform: translateY(-50%);
  width: 483px;
  max-width: 100%;
}

.heroDescription {
  color: #272727;
  font-size: 24px;
  max-width: 435px;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 991px) {
  .heroBackground {
    width: 100%;
    height: 300px;
  }

  .heroImage {
    width: 60%;
    right: 10px;
  }

  .heroDescription {
    font-size: 20px;
  }
}
