@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #5162FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #5162FF;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 24px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
