@tailwind base;
@tailwind components;
@tailwind utilities;

.footer-box {
  width: 100%; /* Изменено на 100% */
  height: 393px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  background: #131313;
  padding: 0 20px;
  box-sizing: border-box;
}

.block_1 {
  width: 377px;
  height: 219px;
  flex-shrink: 0;
  margin: 137px 0 37px 250px;
}

.block_1 .list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 33px;
  justify-content: space-between;
}

.block_1 .f-title {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.block_1 .text1 {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.block_1 .text2 {
  color: #cdced7;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  white-space: nowrap;
}

.block_1 .logo {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 13px;
  white-space: nowrap;
}

.block_2 {
  width: 207px;
  height: 204px;
  margin: 137px 15px 52px 185px;
}

.block_3 {
  width: 156px;
  height: 98px;
  margin: 137px 249px 158px 15px;
}

.list2 {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 15px;
}

.f2-title {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text2 {
  color: #cdced7;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
}

.list2 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list2 ul li {
  margin-bottom: 15px;
}
