.collaborationSteps {
  background-color: #000;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 40px;
  color: #707070;
}

.stepsContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap; /* Добавляем обертку для flex-элементов */
}

.stepCard {
  background-color: #111;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.stepCard:hover {
  background-color: #fff;
  color: #000;
}

.stepNumber {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.stepDescription {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}

/* Медиа-запросы для адаптивного дизайна */

@media (max-width: 1200px) {
  .stepsContainer {
    gap: 20px;
  }

  .stepCard {
    width: 250px;
  }
}

@media (max-width: 992px) {
  .stepsContainer {
    gap: 15px;
  }

  .stepCard {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 14px;
  }

  .stepsContainer {
    gap: 10px;
  }

  .stepCard {
    width: 180px;
  }

  .stepNumber {
    font-size: 2.5rem;
  }

  .stepDescription {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .collaborationSteps {
    padding: 30px 10px;
  }

  .title {
    font-size: 24px;
  }

  .subtitle {
    font-size: 12px;
  }

  .stepsContainer {
    gap: 5px;
  }

  .stepCard {
    width: 100%;
    padding: 20px;
  }

  .stepNumber {
    font-size: 2rem;
  }

  .stepDescription {
    font-size: 12px;
  }
}
