.onlineWork {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.title {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.subtitle {
  color: #707070;
  font-size: 16px;
  text-align: center;
  max-width: 322px;
  margin-bottom: 80px;
  animation: fadeIn 1.5s ease-in-out;
}

.featuresContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 940px;
  animation: fadeIn 2s ease-in-out;
}

.featureCard {
  background-color: #131313;
  border-radius: 30px;
  padding: 29px 42px 45px;
  width: calc(50% - 10px);
  color: #fff;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.featureCard:hover {
  transform: scale(1.05);
  background-color: #222;
}

.featureHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 67px;
}

.featureTitle {
  font-size: 32px;
  font-weight: 700;
  animation: slideIn 1s ease-in-out;
}

.featureSubtitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 26px;
  animation: slideIn 1.5s ease-in-out;
}

.featureDescription {
  font-size: 16px;
  font-weight: 300;
  animation: fadeIn 2s ease-in-out;
}

@media (max-width: 991px) {
  .subtitle {
    margin-bottom: 40px;
  }

  .featuresContainer {
    flex-direction: column;
  }

  .featureCard {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
  }

  .featureHeader {
    margin-bottom: 40px;
  }
}
