@tailwind base;
@tailwind components;
@tailwind utilities;

.convert {
  width: 100%;
  height: 100%;
  max-width: 940px;
  max-height: 528px;
  flex-shrink: 0;
  border-radius: 40px;
  background-color: #131313;
}

.temp {
  width: 100%;
  height: 100%;
  max-width: 940px;
  max-height: 528px;
  display: inline-flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}

.conversion_text {
  margin: 2rem 0 0 2rem;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
}

.exchange_method {
  position: relative;
  max-width: 590px;
  padding: 0 4rem 0 0;
  border-radius: 0 40px 0 20px;
  /*background-color: white;*/
  display: inline-flex;
  justify-content: center;
  gap: 7px;
  z-index: 2;
  /*flex-wrap: nowrap; !* Для адаптивности *!*/
}

.background {
  right: 0;
  position: absolute;
  z-index: 1;
}

.conversion_text2 {
  color: #131313;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  margin-right: 12%;
  align-self: center;
  text-align: center; /* Добавлено для адаптивности */
}

.currency_button {
  width: auto;
  height: auto;
  padding: 16px 20px;
  /*margin: 8px 0 0 0;*/
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 20px;
  background: #1E1E1E;
}

.currency_button.active {
  background: #2433bd;
}

.currency_button .conversion_text {
  margin: 0 0 0 0;
}

.input_currency,
.output_currency {
  /*position: absolute;*/
  flex: 1;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 820px;
  height: 81px;
  margin: 3rem 2rem 0 2rem;
  flex-shrink: 0;
  border-radius: 20px;
  background: #d9d9d9;
}

.output_currency {
  margin: 4.5rem 2rem 2rem 2rem;
}

.input_text {
  margin: 29px 0 29px 45px;
  color: #606e80;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

.conversion_input {
  background: transparent;
  border: none;
  outline: none;
  height: 32px;
  color: #272727;
  text-align: right;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}

.currency_selector {
  position: relative;
  display: flex;
  align-items: center;
  width: 280px;
  height: 81px;
  flex-shrink: 0;
  border-radius: 0 20px 20px 0;
  background: #a7b0bd;
  gap: 18px;
  cursor: pointer;
}

.selected_currency {
  color: #272727;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  padding: 0 20px;
}

.dropdown_menu {
  position: absolute;
  top: 79%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background: #a7b0bd;
  border-radius: 0 0 20px 20px;
  z-index: 10;
  scrollbar-width: thin;
  scrollbar-color: #606e80 transparent;
}

.dropdown_menu::-webkit-scrollbar {
  background: transparent;
}

.dropdown_menu::-webkit-scrollbar-thumb {
  background: #606e80; /* Темный цвет для ползунка */
  border-radius: 10px;
}

.dropdown_item {
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown_item:hover {
  background: #8a95a3;
}

.currency_type {
  display: flex;
  align-items: center;
  width: 241px;
  height: 81px;
  flex-shrink: 0;
  border-radius: 0 20px 20px 0;
  background: #a7b0bd;
  gap: 18px;
}

.icon {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 20px;
}

.currency_type_text {
  color: #272727;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}

.currency_type {
  appearance: none;
  outline: none;
  border: none;
  color: #272727;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.currency_type option {
  color: #272727;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  outline: none;
  background-color: #a7b0bd;
}

/*.hollow_thing {*/
/*  width: 100%;*/
/*  max-width: 16rem;*/
/*  height: 1rem;*/
/*}*/

.switch {
  position: absolute;
  right: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 12.5rem 4rem 1rem 0;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background: #d9d9d9;
  border-radius: 10px;
}

