@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #5162ff;
  --color-white-solid: #ffff;
}

.box {
  height: 69px;
  background-color: rgba(0 0 0 / 80%);
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.nav-menu {
  width: 100%;
  margin: 0 auto;
  max-width: 940px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  white-space: nowrap;
  margin: 0 0 0 auto;
}

nav a {
  color: var(--color-white-solid);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

nav a.active {
  color: var(--foreground);
}

.nav-menu .title {
  color: var(--color-white-solid);
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.login-button {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;

  display: inline-flex;
  padding: 8px 16px;

  justify-content: center;
  align-items: center;
  gap: 7px;

  border-radius: 10px;
  background: #2433bd;
}

.login-button img {
  width: 19px;
  height: 17px;
}

/* Гамбургер-меню */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: var(--color-white-solid);
  margin: 4px 0;
  transition: 0.3s;
}

.change.bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change.bar2 {
  opacity: 0;
}

.change.bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Адаптивность */
@media (max-width: 1024px) {
  .box {
    padding: 0 12px;
  }

  nav {
    margin-left: 2%;
    gap: 20px;
  }

  .nav-menu .title {
    font-size: 20px;
  }

  .login-button {
    font-size: 14px;
    padding: 8px 12px;
  }
}

@media (max-width: 991px) {
  .nav-container {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .login-button {
    margin-left: 5%;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
  .nav-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
  }
  nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0 0 0 / 80%);
    position: absolute;
    top: 69px;
    left: 0;
    right: 0;
    padding: 20px;
  }

  nav.open {
    display: flex;
  }

  nav a {
    margin: 10px 0;
  }
}
